/*Noto Sans kr 폰트*/
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400&display=swap');

/*Neo 둥근모 폰트*/
@font-face {
    font-family: 'NeoDunggeunmo';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.3/NeoDunggeunmo.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
/*Kotra bold 폰트*/
@font-face {
    font-family: 'KOTRA_BOLD-Bold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-10-21@1.1/KOTRA_BOLD-Bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
/*교보 손글씨 폰트*/
@font-face {
    font-family: 'KyoboHand';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@1.0/KyoboHand.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.grid_background {
    background-color: #a3a3a3;
    background-image: url("./images/pattern.png");
    background-size: 100px;
    
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
}
.bookcover {
    background-color: #B4D0DA;
    border-radius: 10px;
    border: 1px solid #738186;
    
    width: 950px;
    height: 650px;

    margin: 50px auto;
    position: relative;
}
.bookdot {
    border: 3px dashed white;
    border-radius: 10px;
    padding: 15px;

    position: absolute;
    top: 10px;
    left: 10px;
    right: 10px;
    bottom: 10px;
}
.page {
    background-color: #eeeeee;
    border-radius: 10px;

    position: absolute;
    top: 10px;
    left: 10px;
    right: 10px;
    bottom: 10px;

    display: flex;
}
.column1 {
    flex: 1;
    display: flex;
    flex-direction: column;
    margin: 15px;
}
.row1_1 {
    flex: 0.5;
    text-align: center;
}
.column1_1 {
    flex: 1;
}
.row1_2 {
    flex: 8;
    display: flex;
    
    flex-direction: column;
}
.left_image_box {
    flex: none;
    margin: 2em;
}
.left_profile_box {
    flex: 7 1 auto;
    margin: 2em;
    margin-top: 0em;
}
.left_bottom_box {
    flex: 1 1 auto;
    margin: 2em;
    margin-top: 0em;
}

.column2 {
    flex: 2.5;
    display: flex;
    flex-direction: column;
    margin-top: 15px;
    margin-bottom: 15px;
}
.row2_1 {
    flex: 0.5;
    display: flex;
    flex-direction: row;
}
.column2_1 {
    flex: 1 0 auto;
    flex-direction: column;
}
.column2_2 {
    flex: 0 1 auto;
}
.row2_2 {
    flex: 8;
    flex-direction: row;
    display: flex;
    flex-direction: column;
}
.main_board_box {
    flex: none;
    margin: 1em;
    display: flex;
    flex-direction: column;
}
.board_title_box {
    font-family: 'KOTRA_BOLD-Bold';
    color: cadetblue;
    flex: none;
    border-bottom: 1px solid #738186;
}
.board_content_box {
    flex: auto;
    display: flex;
    flex-direction: row;
}
.board_box_1 {
    flex: 1;
    display: flex;
    flex-direction: column;
}
.board {
    flex: none;
    font-family: 'Noto Sans KR', sans-serif;
    display: flex;
    flex-direction: column;
}
.board_list {
    flex: none;
    margin-top: 2px;
    font-size: 13px;
}
.board_box_2 {
    flex: 1;
}
.board_list_2 {
    flex: none;
    margin-top: 2px;
    font-size: 13px;
    display: flex;
    flex-direction: row;
    border-bottom: 1px dashed #738186;
}
.board_div_2 {
    flex: 1;
}

.main_room_box {
    flex: 3 1 auto;
    margin: 1em;
    display: flex;
    flex-direction: column;
}
.room_title_box {
    font-family: 'KOTRA_BOLD-Bold';
    color: cadetblue;
    flex: none;
    border-bottom: 1px solid #738186;
}

.column3 {
    flex: 0.4;
    flex-direction: column;
    margin: 15px;
    margin-left: 0px;
}

.box_white {
    background-color: white;
    border-radius: 10px;
    border: 1px solid #dadada;
}
.box_gray {
    border: 1px solid #738186;
}
.color_red {
    color: red;
}
.color_blue {
    color: rgb(91, 91, 214);
}
.menu_style {
    font-size: small;
    padding: 5px;
}
.profile_text_style {
    font-family: 'KyoboHand';
    font-size: 12px;
}
.bottom_profile {
    font-family: 'KyoboHand';
    font-size: 1em;
}

.font_neo {
    font-family: 'NeoDunggeunmo';
}
.font_noto {
    font-family: 'Noto Sans KR', sans-serif;
}

.red_square {
    background-color: rgb(255, 111, 111);
    color: white;
    text-align: center;
    border-radius: 3px;
    padding-left: 3px;
    padding-right: 3px;
}
.blue_square {
    background-color: rgb(91, 91, 214);
    color: white;
    text-align: center;
    border-radius: 3px;
    padding-left: 3px;
    padding-right: 3px;
}
