/* 다이어리의 Center_container 의 흰색 상자 부분 */
.C_MAIN_box_in_diary {
    flex: 8;
    position: relative;
}
/* 다이어리의 달력 레이아웃 */
.calender_box_in_MAIN {
    position: absolute;
    top: 1em;
    bottom: 1em;
    left: 1em;
    right: 1em;
    height: 3em;
    display: flex;
    align-items: center;
    background-color: #f5f5f5;
    border: 1px solid #e0e0e0;
}
/* 오늘 날짜 영역 */
.Today_calender {
    flex: 0 0 1em;
    margin: 0 1em;
    font-family: 'NeoDunggeunmo';
    font-size: 14px;
    color: #9faadf;
    text-align: center;
    font-weight: 500;
}
/* 이번달 날짜 영역 */
.Month_calender {
    flex: 1;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 5px;
    font-size: small;
    font-family: 'NeoDunggeunmo';
}
/* 날짜 속성 */
.date {
    flex: 0 0 2em;
    cursor: pointer;
    text-align: center;
}
/* 다이어리의 게시글 레이아웃 */
.diary_box_in_MAIN {
    position: absolute;
    margin-top: 4em;
    top: 1em;
    bottom: 1em;
    left: 1em;
    right: 1em;
    display: flex;
    flex-direction: column;
    /* 스크롤 자동 생성 */
    overflow: auto;
    align-items: center;
}
/* 다이어리를 게시글 단위로 묶어 레이아웃 정의 */
.post_in_diary {
    flex: auto;
    width: 99%;
    display: flex;
    flex-direction: column;
    border: 1px solid #e0e0e0;
    margin-bottom: 1.5em;
}
/* 게시글의 날짜 */
.date_box_in_post {
    flex: none;
    padding: 10px;
    padding-left: 15px;
    font-size: small;
    font-family: 'NeoDunggeunmo';
    color: #9faadf;
}
/* 게시글의 텍스트 ( 내용 ) */
.text_box_in_post {
    flex: none;
    margin: 15px;
    text-align: center;
    font-size: small;
    font-family: 'KyoboHand';
}
/* 비밀 버튼 */
.secret_button {
    flex: none;
    padding: 1em;
    margin-bottom: 1em;
    background-color: white;
    color: white;
    font-size: small;
    font-family: 'KyoboHand';
    text-align: center;
}
/* 비밀 버튼 hover 상태일 때 */
.secret_button:hover {
    background-color: #9faadf;
    transition: 1000ms ease all;
}